# Create Master Match Database
## This will create a ***master_matches.db***

### Requires:

* master_matches.csv

In [1]:
import pandas as pd
import sqlite3

## Set Variables

In [2]:
# db_mode is used to determine whether to create a new database or append to existing database
db_mode = 'update' # create or update

# file_path is the path to the directory that your files exist in if not in same directory
file_path = "../files/"

## Read ***master_matches.csv*** and Create a DataFrame

In [3]:
master_df = (pd.read_csv(f'{file_path}master_matches.csv',
                          usecols=['ancestry','match_name','match_admin','sharedCM', 'segments',
                                   'side','mrca','gens','notes']
                         )
             )
master_df['ancestry'] = master_df['ancestry'].str.lower().str.strip()

master_df.head(1)

,ancestry,match_name,match_admin,sharedCM,segments,side,mrca,gens,notes
0,anc_id 1,match_name 1,match_admin 1,3475.0,24,M,mrca 1,1.0,NaN

## Create or Append to ***master_matches.db***

In [8]:
# Connect to the SQLite database
conn_write = sqlite3.connect(f'{file_path}master_matches.db')

# Replace or Append to database depending on the db_mode; Creates table called matches
if db_mode == 'create':
    master_df.to_sql('matches', conn_write, if_exists='replace', index=False)
else:
    master_df.to_sql('matches', conn_write, if_exists='append', index=False)

# Close the connection
conn_write.close()